<div class="container">
  <h3 class="text-center top-spacer-md">
    Album Administration
  </h3>
  <div class="row top-spacer-md">
    <div class="col-md-2 col-md-offset-3">
      <div class="dropdown">
        <button class="btn btn-primary btn-block dropdowntoggle" 
            type="button" id="galleryList" data-toggle="dropdown">
              {{ selected_album }}
              <span class="caret"></span>
        </button>
        <ul *ngIf="!albums" class="dropdown-menu">
          <li><i class="fa fa-circle-o-notch fa-spin fa-fw"></i> loading...</li>
        </ul>
        <ul *ngIf="albums" class="dropdown-menu">
          <li *ngFor="let album of albums">
            <a (click)="getAlbum(album.id)">{{ album.name }}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="text-center" *ngIf="loading">
    <div class="row">
        <div class="col-md-12">
            <div>
                <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i> loading..
            </div>            
        </div>
    </div>
  </div>
  <div *ngIf="album" class="fade-me-in top-spacer-md">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="form-group">
            <label for="name">Album Name</label>
            <input type="text" class="form-control" [(ngModel)]="album.name" id="name" name="name" placeholder="Album Name..." >
        </div>
        <div class="form-group">
          <label for="description">Album Description</label>
          <input type="text" class="form-control" [(ngModel)]="album.description" id="description" name="description" placeholder="Album Description..." >
        </div>
        <div class="form-group">
          <input type="checkbox" [(ngModel)]="album.isForProfile" id="isForProfile" name="isForProfile">
          &nbsp;<label for="profile">Use as a Profile Album</label>          
        </div>   
        <button class="btn btn-default pull-right" (click)="updateAlbum()">
          <i *ngIf="savingAlbum" class="fa fa-circle-o-notch fa-spin fa-fw"></i> Save Album
        </button>     
      </div>
    </div>
    <div *ngIf="photos" class="row bottom-spacer-md">
      <div class="col-md-6 col-md-offset-3">
        <h3>Pictures</h3>
        <div *ngFor="let photo of photos; let i = index" class="form-group">
            <h4>Image {{ i + 1 }}</h4>
            <img [src]="photo.imagePath" class="thumbnail img-responsive img-rounded">
            <label for="pictureDescription">Description</label>
            <input type="text" class="form-control" [(ngModel)]="photo.description" id="description" name="description" placeholder="Picture Description...">
            <label for="pictureImagePath">Image Path</label>
            <input type="text" class="form-control" [(ngModel)]="photo.imagePath" id="pictureImagePath" name="pictureImagePath" placeholder="Picture Image Path...">
            <div class="row top-spacer-md">
              <div class="col-md-12">
                <button class="btn btn-default pull-right" (click)="updatePhoto(photo)">
                <i *ngIf="savingPicture" class="fa fa-circle-o-notch fa-spin fa-fw"></i> Save
              </button>
              </div>
            </div>
            <hr>
        </div>        
      </div>
    </div>
  </div>
</div>