
div.enter-nav {
    color: #FFF;
    background-position: 50% 50% !important;
    background-size: cover !important;
    background-attachment: fixed;
    width: 100%;
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('../../assets/cover.jpg');
    height: calc(100vh - 54px);
    overflow: hidden;   
}
.cont {
    max-width: 650px;   
    margin: 0 50px;
    padding: 0 20px;
    padding-top: 75px;
}

p {
    font-size: 24px;
}

@media(max-width: 1024px) {
    .cont {
        padding-top: 10px;
    }

    h1 {
        font-size: 2em;
    }

    p {
        font-size: 1.5em;
    }
}

@media(max-width: 414px) {
    .cont {
        width: 95vw;
        margin-left: 5px;
    }
    
    h1 {
        font-size: 1.5em;
    }

    p {
        font-size: 1em;
    }
}

@media(max-width: 320px) {
    h1 {
        display: none;
    }
}